{% extends "base.html" %}
{% block content %}
    <span class="error-message">{{not-auth}}</span>
    {% if session.admin %}
        <a href="/posts/add" style="margin: 10px;" class="btn btn-success">add post</a>
        <a href="/categories/add" style="margin: 10px;" class="btn btn-success">add category</a>
        <a href="/testcode" style="margin: 10px;" class="btn btn-success"> dsl </a>
        <label> {{user-activity}}</label>
    {% endif %}
    {% for post in posts %}
        <div class="post row">
            <div class="col-md-10">
                <h3><a href="/posts/{{post.id}}">{{post.title}}</a></h3>
                <label class="label label-success">{{post.category.category_name}}</label>
                <span class="glyphicon glyphicon-calendar">({{post.created_at}})</span>
                <p>{{post.content}}</p>
            </div>
            <div class="col-md-2">
                {% if session.admin %}
                  <a class="btn btn-warning manage-button" href="/posts/{{post.id}}/edit">edit</a>
                  <a class="btn btn-danger manage-button" href="/posts/{{post.id}}/delete">delete</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}